name: Publish NPM Package

on:
  push:
    tags:
    - '*'

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Publish package
      run: |
        echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
        npm install
        npm publish 
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      working-directory: plugin
